<form id="signin" name="signin" method="post" action="signin">
    <div class="col s2">
        <button class="btn"><a href="/signup">sign up</a></button>
    </div>
    <div class="input-field col s4">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
    </div>
    <div class="input-field col s4">
        <label for="password">Password</label>
        <input name="password" type="password" />
    </div>
    <div class="col s2">
        <input class="btn" type="submit" value="Sign In" />
    </div>
</form>